
.App {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  
}
p, h1, h2, h3, textarea{
  font-family: 'Inter';
}

h1{
  font-weight: 700;
 
}
p, textarea{
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}





.App-link {
  color: #61dafb;
}




[class*=_frame]{
  max-width: 991px;
 
 
}

body{
  background-color: '#F4F4F4';
}